body {
  font-family: "Poppins", sans-serif;
  color: #343434;
  background: #8693ae;
  background-attachment: fixed;
}

.container {
  background-color: #343434;
  margin: 3rem auto 2rem;
  max-width: 900px;
}

ul {
  padding: 0;
}

li {
  margin-bottom: 25px;
  list-style: none;
  width: 60%;
}

.search {
  height: 60px;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 4px rgba(100, 98, 124, 0.4);
  border: 1px solid #69b5f8;
}

::placeholder {
  color: #848fa5;
  font-size: 16px;
}

#search-button,
#current-button {
  border: 1px solid #69b5f8;
  background-color: #69b5f8;
  color: #fefefe;
  height: 60px;
  max-width: 280px;
  margin: 0 10px;
}

.current {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#weather-description {
  color: #848fa5;
  font-size: 16px;
}

.location h1 {
  color: #fefefe;
  font-size: 4vh;
  font-weight: 800;
  margin: 0;
}

.location h2 {
  font-weight: 500;
  font-size: 22px;
  margin: 2px;
  color: #69b5f8;
}

.current-weather {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.links {
  width: 120px;
  text-align: center;
}

.temp-link {
  font-size: 24px;
  color: #69b5f8;
  padding: 10px;
}

#to-celcius {
  color: #0c66b4;
}

.temp-link:hover {
  color: #fefefe;
}

.temp-divider {
  color: #69b5f8;
  border-radius: 10px;
}

.time {
  font-size: 40px;
  font-weight: 100;
  color: #fefefe;
}

.current-weather .current-temp {
  font-size: 40px;
  font-weight: 800;
  color: #fefefe;
  margin: 0;
  text-align: center;
}

#current-weather-icon {
  width: 120px;
  margin-top: -10px;
}

.today-data-card {
  width: 100%;
  background-color: #fefefe;
  box-shadow: 0 2px 10px rgba(100, 98, 124, 0.4);
}
.today-day {
  font-size: 24px;
  font-weight: 600;
}

.today-date {
  font-size: 18px;
  font-weight: 300;
  color: #848fa5;
}

.par {
  text-align: center;
  margin-top: 18px;
}

.units {
  font-size: 16px;
  font-weight: 300;
  color: #69b5f8;
}

.value {
  font-size: 32px;
  font-weight: 800;
  margin: 0;
}

.parameter {
  font-size: 18px;
  font-weight: 600;
  color: rgb(58, 62, 88);
}

.weather-icon {
  padding: 0;
  display: block;
  margin: 0 auto;
  max-width: 120px;
  min-width: 32px;
}

.schedule-card {
  padding: 0 20px 20px 0;
  margin: 0 auto;
  min-width: 40px;
}

.forecast-temp {
  margin: 0 auto;
  text-align: center;
}

.min-daily,
.max-daily {
  color: #69b5f8;
  font-size: 16px;
}

.min-daily {
  color: #768c9f;
  font-size: 13px;
}

.day {
  font-size: 16px;
  text-align: center;
  color: #fefefe;
  font-weight: 600;
  margin: 0 0 10px;
}

.divider {
  height: 80px;
  width: 2px;
  background-color: #69b5f8;
  margin: 0 10px;
  border-radius: 10px;
}

.list-item-content {
  height: 100%;
  width: 80%;
}

.search:hover,
.search:focus,
#search-button:hover,
#current-button:hover {
  background-color: #bccfe0;
}

footer {
  text-align: center;
  margin: 30px 0 30px;
  color: #848fa5;
  font-size: 12px;
}

.footer-message a {
  color: #69b5f8;
}

@media only screen and (max-width: 767px) {
  #search-button,
  #current-button {
    margin-top: 30px;
  }

  .current {
    flex-direction: column;
    align-items: center;
  }

  .location h1 {
    font-size: 30px;
  }

  .current-weather .current-temp {
    font-size: 30px;
    text-align: center;
  }

  .location {
    text-align: center;
  }

  .current-weather {
    align-self: center;
    text-align: center;
    margin-bottom: 30px;
  }

  #current-weather-icon {
    margin: 0 auto;
  }

  .current-temp {
    width: 100%;
    text-align: center;
  }

  .container {
    margin: 0 auto !important;
  }

  .today-data-card {
    margin-bottom: 30px !important;
  }

  .today-day {
    font-size: 20px;
  }
  .today-date {
    font-size: 16px;
  }

  .units {
    font-size: 16px;
  }

  .links {
    margin: 0 auto;
  }

  .value {
    font-size: 28px;
  }

  .parameter {
    font-size: 16px;
    padding-bottom: 10px;
  }

  .schedule {
    margin: 0;
    padding: 0;
  }

  .schedule-card {
    margin-top: 30px;
    margin-bottom: 0;
  }
}
